---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于"
	description="关于前端周刊"
	pubDate={new Date('March 13 2026')}
>
	<p>
		<strong>前端周刊</strong>由山月创建并维护，每周精选前端领域的优质技术文章、实用开发工具以及重要版本发布动态，帮助开发者紧跟前端技术趋势。
	</p>

	<p>
		周刊内容涵盖 React、Vue、Node.js、TypeScript、构建工具、CSS 新特性、浏览器更新等前端开发的方方面面。我们致力于从海量信息中筛选出真正有价值的内容，节省你的时间，让你每周花几分钟就能了解前端圈的最新动态。
	</p>

	<p>
		如果你有好的文章或工具想要推荐，欢迎通过 <a href="https://github.com/shfshanyue/weekly" target="_blank">GitHub</a> 提交 Issue 或 PR，也可以在 <a href="https://x.com/shfshanyue" target="_blank">X (Twitter)</a> 上联系我。
	</p>
</Layout>
